.Blogdetails {
    display: flex;
    flex-direction: column;
    
    gap: 2vh;
    width: 100%;
    padding: 0 10vw;







}

.ditils_written {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;

}

.right_written {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 1; */
    gap: 1vw;

}

.text_written {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.right_written img {
    width: 5vw;
    border-radius: 50%;
}

.written>.image_blog {
    width: 100%;
    height: 40vh;
    border-radius: 25px;
    background-color: var(--color_bg);
    padding: 5vh 0;
}



.bigtitle {
    font-size: var(--text_pc_header);

}

.sub_title {
    font-size: var(--text_pc_sup_header);
    text-transform: capitalize;
}

.g {
    color: var(--text_main2);
    line-height: 1.5;
}

.y {
    color: var(--btn);
}