.clientsay {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh 10vw;
    gap: 5vh;

}

.fristcontiner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fristcontiner span {
    font-size: var(--text_pc_header);
    text-transform: capitalize;
}


.secandcontiner {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 70vh;
    gap: 2vw;


}

.secandcontiner .showComent {
    background-color: var(--color_main);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.secandcontiner .showComent .imag {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    border: 1px solid black;
    padding: 3vh 3vw;
    background-color:var(--color_bg);
    justify-content: center;
    align-items: center;
}

.secandcontiner .comm_ditiles {
    display: flex;
    flex-direction: column;
    gap: 0vh;
    color: var(--color_bg_btn);

}

.secandcontiner .comm_ditiles .commant {
    padding: 1vb;
    line-height: 1.5;
    font-size: var(--text_pc_Paragraph);

}


.secandcontiner .client {
    background-color: var(--color_bg);
    border-radius: 20px;
    padding: 1vb;
    overflow: hidden;
    /* height: 70%; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.secandcontiner .client img {

    background-color: red;
}


@media (max-width: 768px) {
    .clientsay {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2vb;
        gap: 5vh;

    }

    .secandcontiner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vw;


    }

    .secandcontiner .client {
        display: none;

    }

    .secandcontiner .showComent {
        background-color: var(--color_main);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vw;
    }
    .secandcontiner .showComent .imag {
        height: 30vh;
    }
    .secandcontiner .comm_ditiles {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        color: var(--color_bg_btn);
    
    }
    
    .clientDitils{
        padding-left: 2vb;
    }

}

/*   (الأجهزة اللوحية) */
@media (min-width: 769px) and (max-width: 1024px) {}

/*   (أجهزة اللابتوب) */
@media (min-width: 1025px) and (max-width: 1440px) {}