* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    /* height: 50vh; */
}

:root {
    --color_main: #2D5356;
    --color_sup: #FCF8F0;
    --color_sup2: #F5F5F5;
    --text_main: #515151;
    --text_sup: #383838;
    --text_bg: #FCF8F0;
    --yellow: #FFBA35;
    --btn: #D09423;
    --btn_hover: #a5751c;
    --shadow: #E6EDEC;
    --icon_bg: #D39A2F;
}

.header {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column
}

.followUs {
    width: 100%;
    height: 6vh;
    background-color: var(--btn);
    color: var(--text_bg);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10vw;
}

.f1,
.f2,
.f3 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.f1 a {

    margin: 0 5px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    padding-top: 7px;
    font-size: 15px;
    background-color: var(--icon_bg);
    color: var(--text_bg);
}

.f3 li {
    margin-left: 10px;
}

.f1 li:hover {
    background-color: var(--btn_hover);
    cursor: pointer;
}

.f1 span {
    margin-right: 5px;
}

.header-main {
    width: 100%;
    height: 6vh;
    background-color: var(--color_main);
    color: var(--text_bg);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10vw;


}

.h1,
.h2,
.h3 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.h2 {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;

}

.h2 li a {
    text-decoration: none;
    color: var(--text_bg);
    font-size: 16px;
    position: relative;
}

.h2 li:hover a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 1.5px;
    z-index: 4;
    background-color: var(--btn_hover);
    color: var(--btn_hover);

}

.h3 li {
    margin: 0 7px;
}

.h3 li:hover {
    cursor: pointer;
    color: var(--btn_hover);
}

.h1 {
    margin: 2vh 0;
}

.h1 span {
    font-size: 22px;
}
.h4{
    display: none;
}

@media (max-width:850px) {
    .h4{
        display: none;
    }

    .f1 a {
        min-width: 20px;
        height: 20px;
        padding-top: 3px;
        font-size: 12px;
    }

    .f1 span,
    .f2 span,
    .f3 li {
        font-size: 14px;
    }

    .h1 span {
        font-size: 16px;
    }

    .h2 li a,
    .h3 li i {
        font-size: 12px;
    }

}

@media (max-width:650px) {
    .h4{
        display: none;
    }
    .f1 a {
        min-width: 15px;
        max-height: 15px;
        padding-top: 1px;
        font-size: 10px;
    }

    .f1 span,
    .f2 span,
    .f3 li {
        font-size: 10px;
    }

    .h1 span {
        font-size: 14px;
    }

    .h2 li a,
    .h3 li i {
        font-size: 10px;
    }
}

@media (max-width:500px) {

    .h2,
    .h3 {
        display: none;
    }


    .h4 {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .h4 i:hover {
        color: var(--btn);
    }

    .header-main,
    .followUs {
        padding: 10px;
    }

    .f1 a {
        border: none;
        margin: 0 2px;
        padding-top: 1px;
        font-size: 10px;
    }

    .f1 span,
    .f2 span,
    .f3 li {
        font-size: 10px;
        margin: 0;
    }

    .h1 span {
        font-size: 14px;
    }

}