.products_page {
    width: 100%;
    height: fit-content;
}

.showproducts {
    /* display: grid;
    grid-template-rows: repeat(5 ,1fr);
    grid-template-columns: repeat(3, 1fr); */
    /* 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding: 0 10vw;
}

.filters {
    /* background-color: rebeccapurple; */
}

.items {
    /* background-color: green; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.titles {
    width: 100%;
    height: fit-content;
    padding: 2vb;
    color: var(--text_main2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}

.titles .showresult p {
    text-transform: capitalize;
    color: var(--text_main);

}

.titles .short {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2vh;
}

.btn_list {
    border: 1px solid gray;
    border-radius: 50px;
    padding: 0.5vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
}

.items .products_show .product_show {
    /* background-color: gray; */
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2vh;
}

.products_show {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vb;

}

.discount {
    background-color: var(--color_main_hover);
    border-radius: 50px;
    padding: 1vb;
    color: white;
    position: absolute;
    top: 2vh;
    left: 0.5vw;

}

.heart_s {
    border-radius: 50%;
    padding: 0.7vb;
    background-color: white;
    border: none;
    position: absolute;
    top: 2vh;
    right: 0.5vw;
    color: red;
    cursor: pointer;




}

.heart_r {
    border-radius: 50%;
    padding: 0.7vb;
    background-color: white;
    border: none;
    position: absolute;
    top: 2vh;
    right: 0.5vw;
    color: var(--text_main);
    cursor: pointer;
}

.image_show {
    position: relative;
    background-color: var(--color_bg);
    border-radius: 20px;
    overflow: hidden;
}

.image_show img {
    width: 300px;
    height: 300px;
    overflow: hidden;

}

.ditils_show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.text_show {
    color: white;
}

.text1 {
    color: var(--text_main);
}

.text2 {
    color: var(--text_main2);
}


.shop_p {
    color: white;
    background-color: var(--btn);
    border-radius: 50%;
    padding: 1.5vb;
    font-size: var(--text_pc_items);
    border: none;

}

.shop_p:hover {
    transform: scale(1.1);
    transition: 0.1s all ease;
}

.none {
    display: none;
}





.filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
    padding: 2vh 1vw;

}

.filters>div {
    width: 100%;
    padding-bottom: 2vh;
    border-radius: 15px;
    border: 1px solid var(--color_bg_btn);
    /* padding: 0 2vw; */

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1vh;
}

.filters>div>div {
    color: var(--text_main);
}

.filters>div>ul {
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.filters>div>ul>li {
    border: 1px solid var(--color_bg_btn);
    padding: 1vb;
    border-radius: 25px;
    color: var(--text_main2);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}


.filters * {
    list-style-type: none;
}

.filters {
    border: 1px solid white;
}

.filterTitle {
    font-size: var(--text_pc_header);
    align-self: start;
}

.title {
    width: 100%;
    height: fit-content;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* transform: rotate(); */
    gap: 1vh;
}

.price_value {
    padding: 0 1vw;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.ulMartial {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.classtitle {
    font-size: var(--text_pc_sup_header);
    font-weight: 500;
}

.money {
    color: var(--text_main2);

}

.pages {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}

.pages button {
    border-radius: 25px;
    padding: 1vh 1.5vw;
    border: 1px solid var(--color_bg_btn);
    background-color: white;
    font-size: var(--text_pc_btn);
    display: flex;
    gap: 1vw;
    justify-content: space-evenly;
    align-items: center;

}

.pages div ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    font-size: var(--text_pc_btn);
}


.coutermer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3vh;
}

.coustomercontiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1vh;
}

.userditils {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.userditils .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-left: 1vw;
    gap: 2vh;
}

.userditils .name span {
    text-transform: capitalize;
}

.verifed {
    color: var(--color_main_hover);
}

.userditils img {
    width: 100px;
    border-radius: 50%;

}


.reviewtext {
    font-size: var(--text_pc_btn);
    color: var(--text_main);

}

.coutermer p {
    color: var(--text_main2);
    font-size: var(--text_pc_Paragraph);
}


.helpful {
    color: var(--text_main3);

}

.btn_users {
    display: inline;

}

.btn_users button {
    margin-right: 1vw;
    padding: 1vh 1vw;
    border: none;
    color: var(--text_main2);
    border-radius: 25px;
}

.btn_users button:hover {
    color: var(--text_main);
}

 .endcostomer {
    display: flex;
    

}
.endcostomer .pages{
    padding-left:0;
}





.endcostomer , .coutermer, .startcontiner{
    margin-bottom: 4vh;
}







@media (max-width:1200px) {
    .products_show {
        grid-template-columns: 1fr 1fr;
    }
}