.productinformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height:max-content;

}

.fristpart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    gap: 3vw;
    /* background-color: green; */
    height: max-content;

}

.TechDetails {
    width: 100%;
    height: max-content;

}

.addiInformation {
    width: 100%;
    height: max-content;

}

table {

    width: 100%;
    margin-top: 2vh;
    gap: 1vh;
    border-radius: 30px;
    overflow: hidden;

}

tr:nth-child(odd) {
    background-color: rgba(250, 250, 250, 1);
}

th,
td {
    /* padding: 2vb; */
    height: 8vh;
    padding: 0 2vw;
    text-transform: capitalize;
    color: var(--text_main2);
}

th {
    color: white;
}


.yello {
    color: var(--btn);
}

tr:nth-child(even) {
    background-color: var(--color_bg);
}

th {
    background-color: var(--color_main);
}


.productinformation > div span  {
    text-transform: capitalize;
    font-size: var(--text_pc_sup_header);
    /* font-weight: 500; */
    margin-bottom: 2vh !important;
}

.scandpart{
    width: 100%;
    height: max-content;
}
.warrSupport{
    width: 100% ;
    height: max-content;

}
.scandpart .warrSupport  > p{
    line-height: 2;
    color: var(--text_main);
    width: 80%;

}




@media (max-width:767px) {
    .fristpart {
        flex-direction: column;
    }

}