.productDetails {

    /* padding:0 5vw; */
}


.backto {
    color: var(--btn);
}

.backto:hover {
    cursor: pointer;
    color: var(--btn_hover);
}

.itemshowdetilse {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
    gap: 20px;
}

.imagesDetilse {
    width: 100%;
    height: fit-content;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    gap: 10px;
}



.mainimage {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--color_bg);
    position: relative;
}
.arrows{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 3vh 5vw;
}
.active_i:hover{
    color: white;
    background-color: var(--btn);
    padding: 1vh 2vw;
    border-radius:25px;
}

.active_i{
    color: var(--btn);
    background-color: white;
    padding: 1vh 2vw;
    border-radius:25px;
    font-size: 22px;
}
.imgdiv img{
    width: 300px;
}

.imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_bg);
    width: 100%;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
}


.textshowdeitailse {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.saveday {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.saveday div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.descriptions {
    width: 100%;
    height: fit-content;
    margin-top: 3vh;
}

.des {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 5vh 0;
}

.textDescription {
    color: var(--text_main);
    line-height: 1.5;
}

.spanOn {
    border-radius: 50px;
    border: 1px solid var(--btn);
    padding: 2vb;
    color: var(--btn);
}

.spanOff {
    border-radius: 50px;
    border: 1px solid var(--text_main);
    padding: 2vb;
    color: var(--text_main);
}

.aboutthisitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 5vh 0;
}

.aboutthisitem h2 {
    align-self: flex-start;
    font-size: var(--text_pc_header);
    font-weight: 100;
}

.aboutthisitem div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.aboutthisitem div i {
    align-self: start;
    font-size: var(--text_pc_items);
}

.HS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: fit-content;
}

.HS h2 {
    font-size: var(--text_pc_header);
    font-weight: 100;
    padding: 5vb 0;

}

.HS span {
    font-size: var(--text_pc_Paragraph);
    color: var(--text_main2);

}













@media (max-width:700px) {
    .itemshowdetilse {
        flex-direction: column;
    }
}