
.questions{
width: 100%;
height: fit-content;
padding: 5vh 10vw;
display: flex;
flex-direction: column;
gap: 7vh;
}
.questions .head{
font-size: var(--text_pc_header);
text-align: center;
text-transform: capitalize;
}
.questions .head span{

}
.continer_questions{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
gap: 3vh;

}
.continer_questions .question{
 background-color: var(--color_bg);
 border-radius: 15px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
 padding: 3vb;
 gap: 3vh; 
    transition: all ease 0.5s;

 
}
.continer_questions .show{
    background-color: var(--color_main);
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3vb;
    gap: 3vh;
    transition: all ease 0.5s;
}

.question_c{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.question_c span{
    font-size: var(--text_pc_items2);
}

.question_c i{
    color: var(--color_main);
    background-color: white;
    /* background-color: red; */
    font-size: var(--text_pc_btn);
    /* padding: 1vb; */

    width: 4vw;
    height: 5vh;
    border-radius:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.que{

}
.anson{
    display: block;
    transition: all ease 0.5s;

}
.ansoff{
    display: none;
    transition: all ease 0.5s;

}
