


.TrendingProducts{
    width: 100%;
    height:150vh;
    /* padding: 10vh; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
padding-left: 10vw;
gap: 3vh;

}
.TrendingProducts .titel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5vw;
    
}
.TrendingProducts .titel span{
    text-transform: capitalize;
    font-size: var(--text_pc_header);
    /* font-size: 3.5rem; */
}
.TrendingProducts .titel .btn{
    width: fit-content;
    height: fit-content;
    padding: 2vh 2.5vw;
    font-size: var( --text_pc_btn);
    border-radius: 50px;
    border: none;
    background-color: var(--btn);
    color: var(--text_bg);
    text-transform: capitalize;
    align-self: center;
}


.TrendingProducts nav {
    width: 50%;
    height: fit-content;


}
.TrendingProducts nav ul{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.TrendingProducts nav ul li {
    list-style: none;
    font-size: var(--text_pc_sup_header);
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}
.TrendingProducts nav ul li a {
    text-decoration: none;
    color: var( --text_sup);

}
.TrendingProducts nav ul li a:hover{
    color: var(--color_main);

}
.TrendingProducts nav ul li a:hover::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right:0;
    width: 100%;
    height: 2px;
    background-color: var(--color_main);

}
.active_on{
    position: absolute;
    bottom: -5px;
    right:0;
    width: 100%;
    height: 2px;
    background-color: var(--color_main);
    color: var(--color_main) ;
}




.TrendingProducts .products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
    width: 100%;
    height: fit-content;
    padding: 2vh 10vh 10vh 0;
    gap: 3vh;
}
.TrendingProducts .products .procuct{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 2vb; */
    width:calc((100%/3)-20px);
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    border: none;
    border-radius: 20px;
    background-color: var(--color_bg);
}
.desconun_like,.deitils_shop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vb;
}
.desconun_like span{
    padding: 1.5vb;
    background-color: var(--color_main_hover);
    border-radius: 50px;
}
.desconun_like i{
    padding: 1.5vb;
    background-color: white;
    color: var(--text_main);
    border-radius: 50%;
}
.SColor{
    color: red;
}
.deitils_shop{
    background-color: var(--color_main);
    color: white;
    border-radius:20px;

}
.deitils_shop .deitiles{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: var(--text_pc_sup_header);
    text-transform: capitalize;
}

.shopIcon .shop_T{
    color: orange;
    background-color: white;
    border-radius: 50%;
    padding: 2vb;
    font-size: var(--text_pc_items);
    border: none;
    
}
.shopIcon .shop_T:hover{
    transform: scale(1.1);
    transition:0.1s all ease;
}
.shopIcon{
    justify-self: center;
    align-self: center;
}   



@media  (max-width: 768px) {
    .TrendingProducts .titel .btn{
        padding: 1vh 1.5vw;
    }
    .TrendingProducts .titel span{
        font-size: var(--text_pc_sup_header);
    }
    .TrendingProducts .products {
        display: flex;
        flex-wrap: wrap;
        height:fit-content;
        justify-content: center;
        align-items: center;
        gap:2vb;
        width: 100%;
        padding: 0;

    }
    .TrendingProducts{
    padding-left: 2vb;
    height: fit-content;
    
    }
    .TrendingProducts .products .procuct{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* padding: 2vb; */
        width:calc((100%/3)-20px);
        aspect-ratio: 1 / 1;
        border: 1px solid black;
        border: none;
        border-radius: 20px;
        background-color: var(--color_bg);
    }
}
  
/*   (الأجهزة اللوحية) */
@media (min-width: 769px) and (max-width: 1024px) {}

/*   (أجهزة اللابتوب) */
@media (min-width: 1025px) and (max-width: 1440px) {}