<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../all.css">
</head>

<body>


    <div class="header">
        <div class="followUs">
            <div class="f1">
                <span>Follow Us</span>
            
                <a href="https://github.com/WLMEY?tab=overview&from=2024-09-01&to=2024-09-23" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/mohammed-hussein-kamel-4247b4211/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.facebook.com/WLMEY0/"><i class="fa-brands fa-facebook-f" target="_blank"></i></a>
            </div>
            <div class="f2">
                <span>Sign up get 20% Off for all collection</span>
            </div>
            <div class="f3">
                <li><i class="fa-solid fa-phone"></i></li>
                <li>+20 1033744547</li>
            </div>
        </div>
        <div class="header-main">
            <div class="h1">
                <span><span style="color:#D09423;">F</span> FurniFlex<span style="color: #D09423;">.</span> </span>
            </div>
            <div class="h2">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Blog</a></li>

            </div>
            <div class="h3">
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><i class="fa-regular fa-heart"></i></li>
                <li><i class="fa-solid fa-bag-shopping"></i></li>
                <li><i class="fa-regular fa-user"></i></li>
            </div>
            <div class="h4">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>

</body>

</html>